{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-color: black;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: #2.5rem;
    --norma-font: 2.5rem;
    --neon-box-shadow: 0 0.5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3), 0 0 20px rgba(18,247,255,0.3), 0 0 30px rgba(18,247,255,0.3), 0 0 40px rgba(18,247,255,0.3), 0 0 70px rgba(18,247,255,0.3), 0 0 80px rgba(18,247,255,0.3), 0 0 100px rgba(18,247,255,0.3), 0 0 150px rgba(18,247,255,0.3),
}

body {
    font-family: sans-serif;
    color: var(--text-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content:;
    width: 100%;
    list-style: none;
    padding: 10px 20px;
    background-color: var(--bg-color);
    color: white;
    border: 2px solid var(--hover-color);
    box-shadow: 0 0 1rem #12f7ff;
    margin-top: 10px;
}
@media screen and (max-width:1000px ) {
    .header {
        width: 480px;
    }
}
@media screen and (max-width:400px ) {
    .header {
        width: 490px;
    }
}
    .header li {
        padding: 10px 5%;
    }

.logo {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}
@media screen and (max-width:1000px ) {
    .logo {
        margin-left: 150px;
    }
}

@media screen and (max-width:400px ) {
    .logo {
        margin-left: 150px;
    }
}
span {
    color: var(--hover-color);
    font-size: 20px;
    font-weight: 800;
}

.navlist {
    display: flex;
    list-style: none;
    margin-top: 10px;
    margin-left: 150px;
}

@media screen and (max-width:1000px ) {
    .navlist {
        display: none;
    }
}

.navlist a {
    display: inline-block;
    color: white;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    list-style: none;
    animation: slideAnimation 1s ease forwards;
    text-decoration: none;
    opacity: 0;
}

    .navlist a:hover {
        text-decoration: none;
        color: var(--hover-color);
        text-shadow: 0 0 10px rgba(18,247,255,0.6), 0 0 20px rgba(118,247,255,0.6), 0 0 30px rgba(18,247,255,0.6), 0 0 40px rgba(18,247,255,0.6), 0 0 70px rgba(18,247,255,0.6), 0 0 80px rgba(18,247,255,0.6), 0 0 100px rgba(18,247,255,0.6), 0 0 150px rgba(18,247,255,0.6);
    }

.navlist li a::after{
    content:"";
    position:absolute;
    background:#12f7ff;
    width:100%;
    height:.2rem;
    left:-5px;
    bottom:-5px;
    transform:scaleX(0);
    transform-origin:bottom right;
    transition:transform .5s;
    

}
.navlist li a:hover::after {
    transform:scaleX(1);
    transform-origin:bottom left;

}

















/*--sidepanel--*/
.sidepanel {
	display:none;
}

@media screen and (max-width:1000px ) {
	.sidepanel {
		display: block !important;
		width: 0px;
		position: fixed;
		z-index: 1;
		height: 360px;
		top: 90px;
		left: 20px;
		background-color: var(--bg-color);
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		border-radius: 10px;
		text-decoration:none;
		list-style:none;
	}
}



.sidepanel a {
	display: block;
	padding: 0px 0px 0px 26px;
	color: white;
	box-sizing: border-box;
	list-style: none;
	animation: slideAnimation 1s ease forwards;
	text-decoration: none;
	animation-delay: calc(.3s * var(--i));
	opacity: 0;
}

.sidepanel a:hover {
	text-decoration: none;
	color: var(--hover-color);
	text-shadow: 0 0 10px rgba(18,247,255,0.6), 
		0 0 20px rgba(118,247,255,0.6), 
		0 0 30px rgba(18,247,255,0.6), 
		0 0 40px rgba(18,247,255,0.6), 
		0 0 70px rgba(18,247,255,0.6), 
		0 0 80px rgba(18,247,255,0.6), 
		0 0 100px rgba(18,247,255,0.6), 
		0 0 150px rgba(18,247,255,0.6);
}
.sidepanel li a::after{
    content:"";
    position:absolute;
    background:#12f7ff;
    width:15%;
    height:.2rem;
    left:26px;
    bottom:-5px;
    transform:scaleX(0);
    transform-origin:bottom right;
    transition:transform .5s;
    

}
.sidepanel li a:hover::after {
    transform:scaleX(1);
    transform-origin:bottom left;

}
.sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 36px;
	margin-top: -10px;

}

.menu-icon {
    font-size: 20px;
    z-index: 10001;
    cursor: pointer;
    margin-left: -4px;
    margin-top: 4px;
    border-radius: 3px;
    color: var(--hover-color);
    padding: 0 5px;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
}

    .menu-icon:hover {
        background: var(--hover-color);
    }














#home {
    padding: 10px;
    margin-left: 50px;
    margin-top: 100px;
}

@media screen and (max-width:1000px ) {
    #home {
        margin-left: 10px;
	   
    }
}
@media screen and (max-width:400px ) {
    #home {
        margin-left: 10px;
	
    }
}
.home {
    height: 100%;
    width: 100%;
    align-items: center;
    grid-gap: 4em;
}

.home-content {
    width: 400px;
    display: inline-block;
}

    .home-content h1 {
        font-size: var(--big-font);
        font-weight: 700;
        font-size: 36px;
    }

.change-text {
    font-size: 1.5em;
    font-weight: 700;
}

    .change-text h6 {
        display: inline-flex;
        margin: 0;
        vertical-align: top;
    }

        .change-text h6 .word {
            position: absolute;
            display: flex;
            opacity: 0;
        }

            .change-text h6 .word .letter {
                transform-origin: center center 35px;
            }

                .change-text h6 .word .letter.out {
                    transform: rotateX(90deg);
                    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
                }

.buy-btn {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    margin-left: -10px;
}

    .buy-btn a {
        display: flex;
        width: 250px;
        height: 40px;
        justify-content: center;
        align-items: center;
        color: var(--hover-color);
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 600;
        transition: 0.6s;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        margin-left: 10px;
        border: 2px solid var(--hover-color);
        box-shadow: 0 0 0.9rem #12f7ff;
    }

        .buy-btn a:hover {
            color: var(--bg-color);
        }

        .buy-btn a::before {
            content: "";
            display: flex;
            width: 0;
            height: 100%;
            background: var(--bg-color);
            transition: 0.4s;
            position: absolute;
            z-index: 1;
            color: var(--bg-color);
        }

        .buy-btn a:hover {
            background: var(--hover-color);
        }

            .buy-btn a:hover::before {
                width: 0;
            }
.buy-btn:hover, .buy-btn:focus, .buy-btn:active, .buy-btn:visited{
    transition-timing-function:cubic-bezier(0,6,4,0,3,0,8);
    animation:animate 0.5s 1;
}
@keyframes animate{
    0%, 100%{
        transform:scale(1.1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
.home-img {
    position: relative;
}

.img-box {
    text-align: left;
}

    .img-box img {
        width: 100%;
        width: 300px;
        height: 300px;
        margin-top: 10px;
        margin-left: 50px;
    }

@media screen and (max-width:1000px ) {
    .img-box img {
        height: 300px;
        width: 400px;
        margin-left: 20px;

    }
}








#about {
    background: var(--secon-bg-color);
    padding: 10px;
    margin-top: 50px;
    height: 500px;
}

@media screen and (max-width:1000px ) {
    #about {
        height:620px;
	    margin-top: 100px;
    }
}
@media screen and (max-width:400px ) {
    #about {
        width: 490px;
        height:680px;
    }
}
.about {
    margin-left: 0px;
    margin-top: 50px;
}

h4 {
    color: var(--hover-color);
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}

.about .img-box {
    float: left;
    width: 300px;
    height: 200px;
}
 img:hover,  img:focus,  img:active, img:visited{
    transition-timing-function:cubic-bezier(0,6,4,0,3,0,8);
    animation:animate 0.5s 1;
}
@keyframes animate{
    0%, 100%{
        transform:scale(1.1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
.about-box {
    display: inline-block;
    color: var(--hover-color);
    width: 400px;
    margin-left: 40px;
    margin-top: 40px;
}



#skills {
    background: var(--bg-color);
    padding: 10px;
    margin-top: 10px;
    height: 500px;
}

.skills {
    margin-left: 0px;
}

.skills {
    width: 410px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 60px;
    border: 2px solid var(--bg-color);
    box-shadow: 0 0 1rem #12f7ff;
    padding: 20px;
    background: var(--bg-color);
    color: var(--hover-color);
}

@media screen and (max-width:1000px ) {
    .skills {
        margin-left: 0px;
    }
}

.progress {
    background: var(--hover-color);
    border: 2px solid var(--hover-color);
    box-shadow: 0 0 0.9rem #12f7ff;
}

.skills-bar:hover {
    text-shadow: 0 0 10px rgba(18,247,255,0.6), 0 0 20px rgba(118,247,255,0.6), 0 0 30px rgba(18,247,255,0.6), 0 0 40px rgba(18,247,255,0.6), 0 0 70px rgba(18,247,255,0.6), 0 0 80px rgba(18,247,255,0.6), 0 0 100px rgba(18,247,255,0.6), 0 0 150px rgba(18,247,255,0.6);
}

.skills-bar p {
    color: var(--hover-color);
}

.familiar-progress {
    background: var(--hover-color);
    border: 2px solid var(--hover-color);
    box-shadow: 0 0 0.9rem #12f7ff;
    margin-top: 10px;
    padding: 11px;
}

.photoshop {
    width: 50px;
    animation: photoshop 2s;
    background: var(--bg-color);
}

.pycharm {
    width: 85px;
    animation: pycharm 3s;
    background: var(--bg-color);
}

.studio {
    width: 75px;
    animation: studio 4s;
    background: var(--bg-color);
}

.graphic {
    width: 55px;
    animation: graphic 5s;
    background: var(--bg-color);
}

.python {
    width: 89px;
    animation: python 6s;
    background: var(--bg-color);
}

@keyframes photoshop {
    0% {
        width: 0%
    }

    100% {
        width: 50%;
    }
}

@keyframes pycharm {
    0% {
        width: 0%
    }

    100% {
        width: 85%;
    }
}

@keyframes studio {
    0% {
        width: 0%
    }

    100% {
        width: 75%;
    }
}

@keyframes graphic {
    0% {
        width: 0%
    }

    100% {
        width: 55%;
    }
}

@keyframes python {
    0% {
        width: 0%
    }

    100% {
        width: 89%;
    }
}



    .more-about .img-box {
        margin-left: 60px;
    }

.about-content {
    display: inline-block;
    width: 400px;
}

.last-about {
    width: 800px;
    margin-top: 30px;
}

@keyframes glow {
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }

    100% {
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#about-more {
    padding: 10px;
    margin-left: 50px;
    margin-top: 40px;
    height: 600px;
}

@media screen and (max-width:1000px ) {
    #about-more {
        margin-left: 10px;
        height: 750px;
    }
}
@media screen and (max-width:400px ) {
    #about-more {
        margin-left: 10px;
        height: 1000px;
    }
}
.about-more {
    height: 100%;
    width: 100%;
    align-items: center;
    grid-gap: 4em;
}
@media screen and (max-width:400px ) {
    .about-more h4 {
        text-align: center;
         margin-left: 50px;
    }
}
.more-skills {
    width: 440px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 0px;
    border: 2px solid var(--bg-color);
    box-shadow: 0 0 1rem #12f7ff;
    padding: 20px;
    background: var(--bg-color);
    color: var(--hover-color);
}

@media screen and (max-width:1000px ) {
    .more-skills {
        margin-left: 0px;
    }
}


            #footer {
                background: var(--bg-color);
                margin-top: 1px;
            }

            @media screen and (max-width:1000px ) {
                #footer {
                    margin-top: 1px;
                }
            }

            @media screen and (max-width:400px ) {
                #footer {
                    margin-top: 1px;
                    width: 490px;
                }
            }

            .footer {
                margin-top: 10px;
                color: white;
                width: 100%;
                padding: 10px;
            }

            .footer {
                display: inline-block !important;
            }

            @media screen and (max-width:1000px ) {
                .footer {
                    display:;
                    margin-left: 10px;
                }
            }

            @media screen and (max-width:400px ) {
                .footer {
                    width: 480px;
                }
            }

            .footer-content {
                display: inline-block;
                margin-left: 0px;
                width: 235px;
            }

            @media screen and (max-width:1000px ) {
                .footer-content {
                    margin-left: 10px;
                    margin-top: 10px;
                    width: 200px;
                }
            }

            @media screen and (max-width:400px ) {
                footer-content {
                    margin-left: 0px;
                    margin-top: 10px;
                    width: 200px;
                }
            }

            .footer h6 {
                border: 2px solid var(--hover-color);
                box-shadow: 0 0 0.9rem #12f7ff;
                padding: 5px;
                margin-left: 10px;
                color: white;
                text-align: center;
                padding: 10px;
            }

            .footer a {
                color: var(--hover-color);
                text-decoration: none;
            }

                .footer a:hover {
                    color: white;
                    text-decoration: none;
                    text-shadow: 0 0 10px rgba(18,247,255,0.6), 0 0 20px rgba(118,247,255,0.6), 0 0 30px rgba(18,247,255,0.6), 0 0 40px rgba(18,247,255,0.6), 0 0 70px rgba(18,247,255,0.6), 0 0 80px rgba(18,247,255,0.6), 0 0 100px rgba(18,247,255,0.6), 0 0 150px rgba(18,247,255,0.6);
                }

            .footer h5 {
                margin-left: 30px;
                font-weight: lighter;
                font-size: 16px;
                padding: 5px;
                color: var(--hover-color);
            }
        @media screen and (max-width:1000px ) {
            .footer h5 {
                margin-left:10px;
            }
        }
            .copyright {
                padding: 10px;
                background: var(--bg-color);
                color: var(--hover-color);
                margin-top: 1px;
            }

                .copyright p {
                    padding: 10px;
                    margin-left: 20px;
                    margin-top: -40px;
                }

            @media screen and (max-width:1000px ) {
                .copyright p {
                    margin-top: -10px;
                    margin-left: 30px;
                    text-align: center;
                }
            }

            @media screen and (max-width:400px ) {
                .copyright p {
                    font-size: 13px;
                    text-align: left;
                    margin-left: 10px;
                }
            }

            @media screen and (max-width:400px ) {
                .copyright {
                    width: 490px;
                }
            }
        }

.scroll-scale {
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom {
    opacity: 0;
    transform: translateY(300);
    transition: 3s;
}

.scroll-top {
    opacity: 0;
    transform: translateY(-300);
    transition: 3s;
}

.show-items {
    opacity: 1;
    transform: translateX(0);
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

    .social-icons a {
        display: inline-flex;
        width: 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: var(--hover-color);
        border: 2px solid var(--hover-color);
        transition: 0.6s;
        box-shadow: 0 0 0.9rem #12f7ff;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

        .social-icons a i {
            font-size: 20px;
        }

        .social-icons a:hover {
            color: var(--bg-color);
        }

social-icons a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
    color: var(--hover-color);
}

social-icons a:hover::before {
    width: 100%;
}
.social-icons a:hover, .social-icons a:focus, .social-icons a:active, .social-icons a:visited{
    transition-timing-function:cubic-bezier(0,6,4,0,3,0,8);
    animation:animate 0.5s 1;
}
@keyframes animate{
    0%, 100%{
        transform:scale(1.1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
.fa:hover, .fa:focus, .fa:active, .fa:visited{
    transition-timing-function:cubic-bezier(0,6,4,0,3,0,8);
    animation:animate 0.5s 1;
}
@keyframes animate{
    0%, 100%{
        transform:scale(1.1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
