:root {
    --text-color: black;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: #2.5rem;
    --norma-font: 2.5rem;
    --neon-box-shadow: 0 0.5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3), 0 0 20px rgba(18,247,255,0.3), 0 0 30px rgba(18,247,255,0.3), 0 0 40px rgba(18,247,255,0.3), 0 0 70px rgba(18,247,255,0.3), 0 0 80px rgba(18,247,255,0.3), 0 0 100px rgba(18,247,255,0.3), 0 0 150px rgba(18,247,255,0.3),
}
.container{
    margin-top: 50px;
}
.content
{	width:800px;
	box-shadow:0 0 10px 0 #ccc;
	padding: 10px;
    margin-left: 100px;
    margin-top: 50px;
}
@media screen and (max-width:1000px ){
	.content{
        width: 470px;
        margin-left:10px;
	}
}
h1 {
    text-align: center;
    	background-color: var(--bg-color);
	color: #12f7ff;
	border: 2px solid var(--hover-color);
	box-shadow: 0 0 1rem #12f7ff;
}
h2:hover{
   	color: #12f7ff;
}